button:focus {
    outline: 0 !important;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0px;
    /*    padding: 0px;
    margin: 0 auto 0;*/
}

body {
    /* http://wallpaperscraft.com/download/bicycle_field_clouds_silence_evening_decline_sky_61136/2560x1600
   */

    background: transparent url('../sky2560x1600.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Poiret One', cursive 'Arial';
    color: white;
}

h1 {
    text-align: center;
    font-weight: 800;
    font-size: 4em;
}

#map-canvas {
    height: 100%;
    height: 500px;
    width: 100%;
    margin: 0px;
    padding: 0px
}

.canvas3Dwrap {
    width: 100%;
    height: 500px;
    margin: 0 auto;
    position: relative;
    /*border: 3px solid red;*/
}

#canvas3D {
    /*        width: 500px;
    height: 500px;*/

    z-index: 1000 display: block;
    background-color: white;
    position: absolute;
}

h1 {
    text-align: center;
    font-weight: 800;
    font-size: 4em;
}

.floatright,
.floatleft {
    /*width: 100%;*/
    /* height: 300px; */
}

.card {
    border-bottom: 1px solid white;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.7);
    width: 90%;
    position: relative;
    margin: 40px auto 40px;
    overflow: hidden;
}

.card .info button {
    transition: all 100ms;
    -webkit-appearance: none;
    border: none;
    margin: 1em 1em;
    border-bottom: 1px solid grey;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    color: white;
    width: 180px;
    height: 180px;
    /* display: block; */
    /* margin: 0 auto; */
}

.card .info button:active {
    box-shadow: inset 0 3px 10px rgba(0, 0, 0, 0.4);
    border-bottom-color: transparent;
}

.blue {
    background-color: #6fd2fc;
}

.green {
    background-color: green;
}

.lime {
    background-color: grey;
}

.info input {
    border: 1px solid #CCC;
    color: #999;
    width: 100%;
    margin: 15px 0 15px;
    /*padding: 5px 10px;*/
}

#start {
    border-left: 2px solid green;
}

#end {
    border-left: 2px solid red;
}

.growler {
    font-size: 3em;
}

.addresses {
    width: 100%;
    /*height:2em;*/

    font-size: 4em;
}

.card .info {
    /*font-size: 2em;*/
}

.info-box {
    font-size: 2em;
    background-color: rgba(0, 0, 0, 0.6);
    /*border-radius: 5px;*/

    padding: 1em;
    margin: 0px 0px 1em 0;
}

.info-box span {
    font-size: 1.4em;
}

.legend {
    position: absolute;
    color: black;
    background-color: white;
    margin: 10px 0px 10px 10px;
    font-size: 2em;
}

.legend td:last-child {
    float: right;
}

.legend td:first-child {
    width: 2em;
    height: 2em;
}

@media (min-width: 500px) {
    .card .info button {
        width: 120px;
        height: 120px;
        font-size: 2em;
    }
    .legend {
        font-size: 1.4em;
        border: 1px solid black;
    }
}

@media (min-width: 1000px) {
    #start {
        border-left: 3px solid green;
    }
    .card .info button {
        width: 60px;
        height: 60px;
        font-size: 1em;
        /*overflow: hidden;*/
    }
    .addresses {
        font-size: 2em;
    }
    .floatright {
        float: right;
        width: 47%;
        margin-right: 20px;
    }
    .floatleft {
        float: left;
        width: 47%;
        margin-left: 20px;
    }
    .legend {
        font-size: 1.4em;
    }
    .info-box {
        font-size: 1em;
    }
    .info-box span {
        font-size: 1.6em;
    }
}
