.growler {
    position: relative;
}

.growler div:first-child {
    background-color: rgba(0,0,0,0.6);
    border-radius: 15px;
    padding: 1em;
    position: absolute;
    bottom: 0;
    margin: 5em 0em 0em 60%;
    /*opacity: 0;*/
    overflow: hidden;
    color: white;
    z-index: 1000;
    -webkit-animation: rotateGrowler 6s forwards;
    -ms-animation: rotateGrowler 6s forwards;
    animation: rotateGrowler 6s forwards;
}

@-webkit-keyframes rotateGrowler {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-3em);
    }
    20% {
        opacity: 1;
        -webkit-transform: translateY(10em);
        /**/
    }
    90% {
        opacity: 1;
        -webkit-transform: translateY(10em);
        /**/
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(0);
    }
}
