

table {
}

.legend {
    width: 300px;
    background-color: #ffffff;
    border: 1px solid #c3c3c3;
    border-collapse: collapse;
}

.legend caption {
    background-color: DarkSlateGray;
    color: white;
    padding: 6px;
    position: relative;
}

.legend span {
    float: right;
    position: relative;

}

.legend span:first-child {
    float: left;
}

.legend th {
    background-color: slategrey;
    color: white;
    border: 1px solid #c3c3c3;
    padding: 3px;
    vertical-align: top;
    text-align: left;
}

.legend td {
    border: 1px solid #c3c3c3;
    padding: 3px;
    vertical-align: top;
    table-layout: fixed;
    width: 100px;
    float:right;
}


table{
    position:absolute;
    color:black;
    background-color: white;
    border: 1px solid black
}
